CREATE KEYSPACE IF NOT EXISTS iot WITH durable_writes = true AND replication = { 'replication_factor' : 1, 'class' : 'SimpleStrategy' };

{% for time_series_table in cassandra_time_series_tables %}
CREATE TABLE IF NOT EXISTS iot.sensor_measure_history_seconds_{{ time_series_table.aggregate_seconds }} (
    location text,
    time_block_id bigint,
    measure_type text,
    bucket int,
    timestamp timestamp,
    value double,
    primary key((location, time_block_id, measure_type, bucket), timestamp)
) WITH CLUSTERING ORDER BY (timestamp DESC)
    AND COMPACTION = {'class': 'TimeWindowCompactionStrategy',
                 'compaction_window_unit': 'DAYS',
                 'compaction_window_size': {{ time_series_table.TWCS_compaction_window_size_days }}}
    AND default_time_to_live = {{ time_series_table.ttl_seconds }};
{% endfor %}