<div class="page-box container-fluid">
    <app-page-title title="Digitalpanda.org">
    </app-page-title>
    <div class="row" style="margin-top: 80px;">
        <div class="col-12 thumbnail text-center">
            <img style="padding: 0px 10px;" class="img-fluid" src="/assets/images/panda-banksy.png">
            <div class="caption-dialog dialog-background">
                {{greeting.content}} <br> for the {{greeting.id}}<sup>th</sup> time.
            </div>
            <div class="caption-copyright">
                <a href="https://en.wikipedia.org/wiki/Banksy" target="_blank"><i><font size=-2>&#169; Banksy</font></i></a>
            </div>
        </div>
    </div>
</div>