<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12 text-left"><b>{{location}}</b></div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let viewMeasure of viewMeasures$ | async; let i=index ">
            <div class="row">
                <div class="col-7 text-left">
                    <i>{{viewMeasure.measureTypeDetails?.typeName}}</i>
                </div>
                <div class="col-5 text-left">
                    <b>
                      <span>{{ viewMeasure.measure.value | number : '1.2-2' }}</span>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-left small">
                    <i>
                        <span>{{ viewMeasure.measure.timestamp | date:'yyyy-MM-dd'}} &nbsp;&nbsp;&nbsp;&nbsp; {{ viewMeasure.measure.timestamp | date:'HH:mm:ss'}}</span>
                    </i>
                </div>
            </div>
        </li>
    </ul>
</div>