.thumbnail {
    position: relative;
}

.caption-dialog {
    position: absolute;
    top: -19%;
    left: 52%;
    padding-top: 15px;
    width: 178px;
    height: 97px;
}

.caption-copyright {
    position: absolute;
    top: 66%;
    left: 45%;
}

.dialog-background {
    background-image: url('/assets/images/bulle.jpg');
    background-size: 100% 100%;
}